In [9]:
for num in range(1, 11):
    if num == 5:
        break
    print(num)

1
2
3
4

In [13]:
l=[1,2,3,4,5]
for i in l:
    if i==3:
        continue
    print(i)

1
2
4
5

In [27]:
def check(n):
    for char in n:
        if char == 'o':
            print("Found 'o'")
            break
n=input()
check(n)

 hello

Found 'o'

In [29]:
n = [1, 2, 3, 4, 5]
for num in n:
    if num == 4:
        continue
    print(num * 2)

2
4
6
10

In [31]:
num = 1
while num <= 20:
    if num == 15:
        break
    print(num)
    num += 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [33]:
def add(a,b):
    return a+b
a=int(input())
b=int(input())
add(a,b)

 5
 3

8

In [35]:
def mul(a,b):
    return a*b
a=int(input())
b=int(input())
mul(a,b)

 5
 3

15

In [39]:
def divide(a,b):
    if b==0:
        return "Cannot divide by zero"
    else:
        return a/b
a=int(input())
b=int(input())
divide(a,b)

 5
 0

'Cannot divide by zero'

In [45]:
def add_all(*args):
    sum = 0
    for n in args:
        sum += n
    return sum
print(add_all(1, 2, 3, 4, 5))

15

In [47]:
def calculate(**kwargs):
    res={}
    for op,values in kwargs.items():
        if op=="add":
            res[op]=values[0]+values[1]
        elif op=="multiply":
            res[op]=values[0]*values[1]
        elif op=="divide":
            if values[1]!=0:  
                res[op]=values[0] / values[1]
            else:
                res[op]="Error (division by zero)"
    return res
print(calculate(add=(5,3),multiply=(4,2),divide=(10,2)))

{'add': 8, 'multiply': 8, 'divide': 5.0}

In [53]:
def sub(a,b):
    return a-b
a=int(input())
b=int(input())
sub(a,b)

1

In [55]:
def div(a,b):
    return a%b
a=int(input())
b=int(input())
div(a,b)

 5
 5

0

In [61]:
def sq(n):
    return n*n
n=int(input())
sq(n)

 6

36

In [63]:
def cube(n):
    return n*n*n
n=int(input())
cube(n)

 2

8

In [67]:
def find_max(*args):
    return max(args)
find_max(10,20,30,5)

30

In [69]:
def find_min(*args):
    return min(args)
find_min(10,20,30,5)

5

In [75]:
def average(*args):
    total = sum(args)
    count = len(args)
    return total / count if count != 0 else 0  
print(average(5, 10, 15))

10.0

In [3]:
def tes(*x):
    return sum(x)
tes(1,2,3,4)

10

In [1]:
def print_names(*names):
    for name in names:
        print(name)
print_names("Alice", "Bob", "Charlie")

Alice
Bob
Charlie

In [18]:
def eve(*a):
    l=[]
    for i in a:
        if i%2==0:
            l.append(i)
    return l
eve(10,20,55,45,36,89)

[10, 20, 36]

In [24]:
def tec(*a):
    l=[]
    for i in a:
        if type(i)==int:
            l.append(i)
    return l        
tec(10, "apple", 25, "banana", 30)

[10, 25, 30]

In [3]:
def pro(*a):
    p=1
    for i in a:
        p*=i
    return p
pro(1,2,3)

6

In [5]:
def ch(*a):
    l=[]
    for i in a:
        if len(i)>5:
            l.append(i)
    return l
ch("apple","Banana","Ramesh")

['Banana', 'Ramesh']

In [7]:
def l(*a):
    m=[]
    n=[]
    for i in a:
        if type(i)==int:
            m.append(i)
        else:   
            n.append(i)
    return m,n
l(1,2,3,"apple","rio","plum")

([1, 2, 3], ['apple', 'rio', 'plum'])

In [9]:
def max_min(*a):
    return max(a),min(a)
max_min(2,1,5,6,8,9)

(9, 1)

In [19]:
def eve(*ele):
    for index in range(len(ele)):
        if index % 2 == 0:
            print(ele[index])
eve("Apple", "Banana", "Cherry", "Date", "Elderberry", "Fig")

Apple
Cherry
Elderberry

In [23]:
def test(**kwargs):
    for key, value in kwargs.items():
        print(f"{key}: {value}")
test(name="Alice", age=25, city="New York")

name: Alice
age: 25
city: New York

In [25]:
def details(**kwargs):
    for key,value in kwargs.items():
        print(f"{key}:{value}")
details(name="alice",age=55,grade="A")

name:alice
age:55
grade:A

In [27]:
def tes(*args, **kwargs):
    for arg in args:
        print(arg)
    for key, value in kwargs.items():
        print(f"{key}: {value}")
tes(1, 2, 3, name="Alice", age=25, city="New York")

1
2
3
name: Alice
age: 25
city: New York

In [29]:
def store_values(**kwargs):
    lst= list(kwargs.values())
    return lst
values = store_values(name="Alice", age=25, country="USA")
print(values)

['Alice', 25, 'USA']

In [35]:
def product_details(product_name, **kwargs):
    print(f"Product: {product_name}")
    for key, value in kwargs.items():
        print(f"{key}: {value}")
product_details("Laptop", brand="Dell", price=70000, color="Black")

Product: Laptop
brand: Dell
price: 70000
color: Black

In [39]:
def a(**kwargs):
    for key, value in kwargs.items():
        if type(value)==str:
            print(f"{key}: {value}")
a(name="Alice", age=25, city="New York", country="USA")

name: Alice
city: New York
country: USA

In [41]:
def student(student_details):
    for key, value in student_details.items():
        if type(value)==int:
            print(f"{key}: {value}")
student({'name': 'Alice', 'age': 20, 'grade': 3})

age: 20
grade: 3

In [49]:
def filter_string_kwargs(**kwargs):
    for key, value in kwargs.items():
        if type(value)==str:
            print(f"{key}:{value}")
filter_string_kwargs(name="Alice", age=25, job="Engineer")

name:Alice
job:Engineer

In [59]:
def tes(**kwargs):
    for key, value in kwargs.items():
        if "price" in kwargs:
            print(f"{key}:{value}")
tes(product_name="Laptop", price=70000, brand="Dell")

product_name:Laptop
price:70000
brand:Dell

In [1]:
def filter_employee_details(**kwargs):
    for key, value in kwargs.items():
        if type(value)==int or type(value)==float:
            print(f"{key}:{value}")
filter_employee_details(name="Alice", age=35, height=28, experience=5)

age:35
height:28
experience:5

In [3]:
def print_high_population_countries(country_populations):
    for country, population in country_populations.items():
        if population > 50_000_000:
            print(f"{country}: {population}")
populations = {'USA': 331000000, 'Canada': 37742154, 'India': 1380004385}
print_high_population_countries(populations)

USA: 331000000
India: 1380004385